<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://minhduc14-001-site1.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>true</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5120.site4now.net:8172/msdeploy.axd?site=minhduc14-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>minhduc14-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>minhduc14-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MyConnectString" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5106.site4now.net;Initial Catalog=db_aa23c8_minhduc1403;User ID=db_aa23c8_minhduc1403_admin;Password=Minhduc1410" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="project_1.Identity.WebDBContext, project_1" MigrationConfiguration="project_1.IdentityMigration.Configuration, project_1" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyConnectString-Web.config Connection String">
      <ParameterValue>Data Source=SQL5106.site4now.net;Initial Catalog=db_aa23c8_minhduc1403;User ID=db_aa23c8_minhduc1403_admin;Password=Minhduc1410</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>